.task-item {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #49BFC7;
  color: #1d1d1d;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.task-container {
  display: flex;
  flex-direction: row;
}